@keyframes MyAnimation {
    0% { left: 0; }	
    50% { left: 200px; }	
    100% { left: 20px; }	
}

.test {
    display: flex;
    transition: all .5s;
    border-radius: 10px 5px;
    background-image: url('./1.png');
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    background-size: cover;
    animation: MyAnimation 2s;
}